<div class="info-box">
  <h5>Hi Tom, welcome back to Show Planner!</h5>
  <span>Check out our
    <a href="#">getting started guide</a> if you are in need of any help.
  </span>
</div>
<div class="container grid-xl">
  <div class="columns">
    <div class="column col-6 col-md-12">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">
            <h5>My Shows</h5>
          </div>
          <button class="btn btn-primary" (click)="goToCreateShow()">Create Show</button>
        </div>
        <div class="panel-body">
          <div class="tile" *ngFor="let temp of tempList">
            <div class="tile-icon">
              <figure class="avatar avatar-lg">
                <img src="https://cdn.images.express.co.uk/img/dynamic/36/590x/Avengers-Iron-Man-was-almost-played-by-another-major-star-936289.jpg"
                />
              </figure>
            </div>
            <div class="tile-content">
              <p class="tile-title">
                <a href="#">The Avengers</a>
              </p>
              <p class="tile-subtitle text-gray">Earth's Mightiest Heroes joined forces to take on threats that were too big for any one hero to tackle...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="column col-6 col-md-12">
      <div class="panel">
        <div class="panel-header">
          <div class="panel-title">
            <h5>Events</h5>
          </div>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>