.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile {
    margin-bottom: 24px;

    .avatar {
        border-radius: 6px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            border-radius: 6px;
            height: 100%;
            width: auto;
        }
    }
}