<breadcrumbs>
  <breadcrumb route="/dashboard">Home</breadcrumb>
  <breadcrumb route="/shows">Shows</breadcrumb>
  <breadcrumb route="/shows/create" currentRoute="true">Create Show</breadcrumb>
</breadcrumbs>
<div class="container">
  <div class="columns">
    <div class="column col-6 col-lg-6 col-md-12 col-mx-auto">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-4 col-sm-12">
            <label class="form-label" for="title">Show Title *</label>
          </div>
          <div class="col-8 col-sm-12">
            <input class="form-input" type="text" id="title" placeholder="Show title" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-4 col-sm-12">
            <label class="form-label" for="description">Show Description *</label>
          </div>
          <div class="col-8 col-sm-12">
            <textarea class="form-input" id="description" placeholder="Show description" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-4 col-sm-12">
            <label class="form-label" for="logo">Show Logo</label>
          </div>
          <div class="col-8 col-sm-12">
            <input class="form-input" type="file" id="logo">
          </div>
        </div>
        <div class="divider"></div>
        <div class="form-group">
          <div class="col-4 col-sm-12">
            <label class="form-label" for="companyName">Company Name *</label>
          </div>
          <div class="col-8 col-sm-12">
            <input class="form-input" type="text" id="companyName" placeholder="Company name" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-4 col-sm-12">
            <label class="form-label" for="companyLogo">Company Logo</label>
          </div>
          <div class="col-8 col-sm-12">
            <input class="form-input" type="file" id="companyLogo">
          </div>
        </div>
        <div class="divider"></div>
        <button class="btn btn-primary">Create Show</button>
      </form>
    </div>
  </div>
</div>