@import '../../../../../scss/variables';

.btn-link {
    color: $dark-color;
    margin-right: 24px;
}

.logo {
    height: 32px;
}

.active {
    font-weight: bold;
}

.navbar {
    padding: 16px 24px;
    border-bottom: 4px solid $primary-color;
    background-color: $navbar-bg;
    position: fixed;
    width: 100%;
    z-index: 99;
    box-shadow: 0 4px 20px $shadow-color;
}