<header class="navbar" *ngIf="showNavbar">
  <section class="navbar-section hide-md">
    <a class="btn btn-link" routerLink="/dashboard" routerLinkActive="active">Home</a>
    <a class="btn btn-link" routerLink="/shows" routerLinkActive="active">Shows</a>
    <a class="btn btn-link" routerLink="/events" routerLinkActive="active">Events</a>
    <!--<a href="#" class="btn btn-link">Admin</a>-->
  </section>
  <section class="navbar-center">
    <img class="logo" src="../../../../../assets/logo.svg" />
  </section>
  <section class="navbar-section">
    <img src="../../../../../assets/user.png" />
  </section>
</header>
<div style="padding-top: 72px;" *ngIf="showNavbar"></div>