<div class="bg">
  <div class="container grid-xl">
    <div class="columns">
      <div class="column col-12">
        <ul class="breadcrumb-container">
          <ng-content></ng-content>
        </ul>
      </div>
    </div>
  </div>
</div>