@import '../../../../../scss/variables';

.slash {
    color: $breadcrumb-slash-color;
    display: inline-block;
    margin: 0 12px;
}

.current-route {
    color: $breadcrumb-text-color;
    pointer-events: none;
}