/* You can add global styles to this file, and also import other style files */
// Example of project-name.scss
// Define variables to override default ones
//$primary-color: #2e5bec;
//$dark-color: #3e396b;
$body-bg: #fff;

// Import full Spectre source code
@import "node_modules/spectre.css/src/spectre";
//@import "node_modules/spectre.css/src/spectre-exp";
@import './scss/layout';
@import './scss/tile';

html {
    background: #fff;
}

router-outlet ~ * {
    position: absolute;
    height: 100%;
    width: 100%;
}