@import 'variables';

.app-content {
    max-width: 1440px;
    margin: 0 auto;
}

.panel {
    background: $panel-bg;

    &-header {
        .btn {
            margin-bottom: .5em;
        }
    }
}

.info-box {
    margin: 40px;
    text-align: center;
}

.btn {
    border-radius: .25rem;
}