$primary-color: #5755d9;
$secondary-color: #f1f1fc;
$dark-color: #454d5d;
$gray-dark-color: #727e96;
$gray-color: #acb3c2;
$gray-light-color: #e7e9ed;
$border-color: #f0f1f4;

$breadcrumb-bg: #F8F9FA;
$breadcrumb-text-color: #50596C;
$breadcrumb-slash-color: #BDBDBD;

$panel-bg: #fff;
$navbar-bg: #fff;

$shadow-color: #5754da1c;