<div class="container">
  <div class="columns">
    <div class="column col-4 col-lg-6 col-sm-12 col-mx-auto">
      <div class="center-on-page">
        <div class="panel">
          <div class="panel-header">
            <div class="panel-title">
              <img class="centered" src="/assets/logo.svg" />
            </div>
            <div class="panel-body">
              <form (ngSubmit)="login()" #loginForm="ngForm">
                <div class="form-group">
                  <label class="form-label" for="email">Email</label>
                  <input class="form-input" [(ngModel)]="email" name="email" type="email" id="email" placeholder="someone@gmail.com" pattern="[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                    required>
                  <label class="form-label" for="password">Password</label>
                  <input class="form-input" [(ngModel)]="password" name="password" type="password" id="password" placeholder="******" required>
                </div>
                <button type="submit" [class.loading]="checkingPassword" class="btn btn-primary">Login</button>
              </form>
            </div>
            <div class="panel-footer">
              <ul>
                <li>
                  <a>Forgot password?</a>
                </li>
                <li>
                  <a>Don't have an account? Register free now! </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>