.container {
    @media only screen and (min-width: 841px) {
        background: url('/assets/login-bg.png');
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center bottom;
    }
}

.center-on-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.panel {
    width: 100%;
    &-title {
        margin: 32px 0;
        img {
            height: 64px;
        }
    }

    @media only screen and (max-width: 840px) {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        height: 100%;
        overflow-y: auto;
    }
}

.btn {
    width: 100%;
    margin: 32px 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}